<!-- include header -->
<%- include('./partials/header') %>
<!-- /include header -->


<!-- Main Site -->
    <h1 class="mt-4">Dashboard</h1> 
    <p class="lead mb-3">Welcome <%= user.name %></p>

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User <i class="fas fa-user"></i></span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/dashboard" method="POST">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">@Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </form>
    </div>
</main>

    
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
<!-- /Main Site -->



<!-- include header -->
<%- include('./partials/footer') %>
<!-- /include header -->