<!-- include header -->
<%- include('./partials/header') %>
<!-- /include header -->


<!-- Main Site -->
    <div class="container">
        <%- body %> 
    </div>
<!-- /Main Site -->

<!-- include header -->
<%- include('./partials/footer') %>
<!-- /include header -->