<!-- include header -->
<%- include('./partials/header') %>
<!-- /include header -->

    <div class="container">
        <%- body %> 
    </div>

<!-- include header -->
<%- include('./partials/footer') %>
<!-- /include header -->